{
  "extends": ["react-app"],
  "plugins": ["prettier", "sort-imports-es6-autofix"],
  "rules": {
    "prettier/prettier": ["error", { "printWidth": 120 }],
    "sort-imports-es6-autofix/sort-imports-es6": "error",
    "import/order": ["error", { "groups": [], "newlines-between": "always" }]
  }
}
