@import "app/components/Theme.scss";

.headerContainer {
  position: relative;
}

.header__logo {
  height: 60px;
  position: absolute;
  left: $gutter;
  display: none;
}

.header__logo img {
  max-height: 100%;
}

.header__title {
  margin: 0;
  color: $primary-color;
  text-transform: lowercase;
  font-size: 4em;
  font-family: 'Lobster', sans-serif;
  text-shadow: 1px 1px $black;
}

@media only screen and (min-width : 480px) {
  .headerContainer {
    padding: $gutter-sm 0;
  }

  .header__logo {
    display: block;
  }
}
