@import "app/components/Theme.scss";

.brandLogo {
  height: 80px;
  position: relative;
  padding-right: 10px;
}

.brandLogo img {
  max-height: 100%;
}

.brandName {
  display: flex;
  align-items: center;
  margin: 0;
  color: $primary-color;
  text-align: left !important;
}

.brandNavbar {
  background-color: $white;
  color: white;
  padding: 0 $gutter-lg 0 20px;
}

@media only screen and (min-width : 768px) {
  .brandLogo {
    top: 15px;
    padding-right: 20px;
  }

  .brandNavbar {
    padding: 0 $gutter-lg-2x 0 20px;
  }
}

