.headerContainer {
  padding: 10px 25px;
  position: relative; }

.header__logo {
  height: 60px;
  position: absolute;
  left: 25px; }

.header__logo img {
  max-height: 100%; }

.header__title {
  margin: 0;
  color: #ddca7e;
  text-transform: lowercase;
  font-size: 4em;
  font-family: 'Lobster', sans-serif;
  text-shadow: 1px 1px #000; }

@media only screen and (min-width: 768px) {
  .headerContainer {
    padding: 10px 50px; }
  .header__logo {
    padding-right: 20px; } }
