$gutter: 10px;
$gutter-lg: 25px;
$gutter-lg-2x: 50px;
$spacing-s: 2px;
$spacing: 4px;
$spacing-lg: 8px;
$wrapper: 1280px;

$text-color:          #fff;
$secondary-text-color:rgba(255, 255, 255, 0.3);
$primary-color:       #ddca7e;
$secondary-color:     #FFF;
$white:               #FFF;
$black:               #000;
$background-color:    #333333;
$error-primary-color: #E04C51;

// Spinner colors
$green:      #008744;
$blue:       #0057e7;
$red:        #d62d20;
$yellow:     #ffa700;
$white-grey: #eee;
