$gutter: 10px;
$gutter-lg: 25px;
$gutter-lg-2x: 50px;
$spacing-s: 2px;
$spacing: 4px;
$spacing-lg: 8px;
$wrapper: 1280px;

$text-color:          #333;
$secondary-text-color:#BDBDBD;
$primary-color:       #244192;
$secondary-color:     #DEE7EB;
$accent-color:        #92BC42;
$white:               #FFF;
$black:               #000;
$error-primary-color: #E04C51;

// Spinner colors
$green:      #008744;
$blue:       #0057e7;
$red:        #d62d20;
$yellow:     #ffa700;
$white-grey: #eee;

// Grey colors
$grey-50:  #FAFAFA;
$grey-100: #F5F5F5;
$grey-200: #EEEEEE;
$grey-300: #E0E0E0;
$grey-400: #BDBDBD;
$grey-500: #9E9E9E;
$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;
$grey-900: #212121;
