$gutter-sm: 10px;
$gutter: 25px;
$gutter-lg: 125px;
$gutter-lg-2x: 250px;
$spacing-s: 2px;
$spacing: 4px;
$spacing-lg: 8px;

$text-color:          #FFF;
$secondary-text-color:rgba(255, 255, 255, 0.3);
$primary-color:       #ddca7e;
$white:               #FFF;
$black:               #000;
$background-color:    #333333;
$error-primary-color: #E04C51;

// Spinner colors
$green:      #008744;
$blue:       #0057e7;
$red:        #d62d20;
$yellow:     #ffa700;
$white-grey: #eee;

@mixin rescaling {
  @keyframes rescaling {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
}

@mixin appear {
  @keyframes appear {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@mixin appear-right-block {
  @keyframes appear-right-block {
    0% {
      transform: scale(1);
      opacity: 0;
    }
    1% {
      transform: translateX(50px) scale(1);
      opacity: 0;
    }
    100% {
      transform: translateX(0) scale(1);
      opacity: 1;
    }
  }
}

@mixin disappear-right-block {
  @keyframes disappear-right-block {
    0% {
      transform: translateX(0) scale(1);
      opacity: 1;
    }
    99% {
      transform: translateX(50px) scale(1);
      opacity: 0;
    }
    100% {
      opacity: 0;
      transform: translateX(50px) scale(0);
    }
  }
}

@mixin appear-left {
  @keyframes appear-left {
    0% {
      transform: translatex(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
