@keyframes rescaling {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

.shuffleContainer {
  position: relative; }

.shuffle__mixerContainer {
  transition: transform .3s ease-in; }

.shuffle__mixer {
  font-size: 5em; }

.shuffle__btn__actions {
  padding: 0 10px;
  line-height: 1;
  opacity: 0;
  color: rgba(255, 255, 255, 0.3);
  transition: opacity .1s ease-in; }
  .shuffle__btn__actions .shuffle__btn__choose,
  .shuffle__btn__actions .shuffle__btn__reroll {
    cursor: pointer;
    transition: transform .1s ease-in; }
  .shuffle__btn__actions .shuffle__btn__choose {
    transform: translateX(-15px); }
  .shuffle__btn__actions .shuffle__btn__reroll {
    transform: translateX(15px); }

.shuffle__btn__validateContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.shuffle__btn__validate {
  opacity: 0;
  transform: scale(0);
  transition: transform .3s ease-in, opacity .3s ease-in; }

.shuffle__btn__panel {
  position: absolute;
  bottom: -28px;
  right: 80px; }
  .shuffle__btn__panel.panel__isOpen {
    transform: scale(0); }

.shuffle__done .shuffle__mixerContainer {
  transform: translateY(100%);
  transition: transform .8s ease-in 1s; }

.shuffle__done .shuffle__btn__validate {
  opacity: 1;
  transform: scale(1);
  transition: transform .3s ease-in 1.5s, opacity .3s ease-in 1.5s; }
  .shuffle__done .shuffle__btn__validate.isValidate {
    background-color: #ddca7e;
    animation: rescaling 0.6s cubic-bezier(0.19, 1, 0.22, 1); }
    .shuffle__done .shuffle__btn__validate.isValidate > i {
      transform: scale(0);
      animation: rescaling 0.65s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s forwards; }

.shuffle__done .shuffle__btn__actions {
  opacity: 1;
  transition: opacity .3s ease-out 2s; }
  .shuffle__done .shuffle__btn__actions .shuffle__btn__choose,
  .shuffle__done .shuffle__btn__actions .shuffle__btn__reroll {
    transform: translateX(0);
    transition: transform .3s ease-out 2s, color .1s ease-in; }
    .shuffle__done .shuffle__btn__actions .shuffle__btn__choose:hover,
    .shuffle__done .shuffle__btn__actions .shuffle__btn__reroll:hover {
      color: #FFF; }
