@import "app/components/Theme.scss";

@keyframes enter {
  0% {
      transform: scale(0);
  }
  100% {
      transform: scale(2.0);
  }
}

.shuffleContainer {
  text-align: center;
  width: 100%;
  font-size: 5em;
}


%btn,
%btnIcon,
.btn,
.btnIcon {

  &.animate {
    animation: enter 3s forwards;
  }

}
