.btn {
  margin: 20px 0; }

.btnIcon {
  color: #FFF; }
  .btnIcon.small {
    width: 72px !important;
    height: 72px !important;
    padding: 16px !important; }
    .btnIcon.small i {
      font-size: 36px; }
  .btnIcon.medium {
    width: 96px !important;
    height: 96px !important;
    padding: 24px !important; }
    .btnIcon.medium i {
      font-size: 48px; }
  .btnIcon.large {
    width: 120px !important;
    height: 120px !important;
    padding: 30px !important; }
    .btnIcon.large i {
      font-size: 60px; }
