@import 'app/components/Theme.scss';

.btn {
  margin: 20px 0;
}

.btnIcon {
  color: $text-color;

  &.small {
    width: 72px !important;
    height: 72px !important;
    padding: 16px !important;

    i {
      font-size: 36px;
    }
  }
  &.medium {
    width: 96px !important;
    height: 96px !important;
    padding: 24px !important;

    i {
      font-size: 48px;
    }
  }
  &.large {
    width: 120px !important;
    height: 120px !important;
    padding: 30px !important;

    i {
      font-size: 60px;
    }
  }
}
