.btn {
  margin: 20px 0; }

.btnIcon {
  color: #FFF;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5em;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: background .3s ease-in-out; }

.btnIcon:hover {
  background: #ddca7e; }
